<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
	<style type="text/css">
	form
	{
          text-align: center;
          padding: 13px;
          background-color: pink;
          margin-left: 230px;
          margin-right: 230px;
	}
	</style>
</head>
<body>
	<h2 style="background-color:blue;color:white;margin-left:230px;margin-right:230px;text-align:center;padding:5px">
	login form</h2>
<form>	
<label>username</label>
<input type="text" name=""><br/>
<label>password</label>
<input type="password" name=""><br/>
<button>login</button>
</form>
</body>
</html>